/*Navbar*/
.navbar-set {
    min-height: 5rem;
    padding: 0.3rem 1rem;
}

.add-todo-btn{
    color: rgb(211, 211, 211);
    cursor: pointer;
}
.add-todo-btn:hover{
    color: white;
}

.task-btns {
    padding-left: 11rem;
}

.tasks-btn {
    min-width: 15rem;
    padding: 0.35rem 1.5rem;
    text-align: center;
    background: #8ECAE6;
    cursor: pointer;
}

.completed {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.incomplete {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 2px solid #219EBC;
}

.selected-task{
    box-shadow: 0px 3px 5px 0px #ffffff;
    background: #0077b6;
    color: white;
    font-weight: bold;
}

.task-search-inp {
    width: 15rem;
    padding: 0.35rem 1.5rem;
    border: none;
    border-radius: 1rem;
}

.account-set-wnd{
    display: flex;
    position: absolute;
    background: #26465380;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
    min-width: 10rem;

    top: 4.5rem;
    right: 0.75rem;

    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.a-s-w-link{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.account-set-wnd .a-s-w-link span:hover{
    font-weight: bold;
}
.add-todo-btn{
    color: rgb(211, 211, 211);
    cursor: pointer;
}

/*Footer*/
.footer-set {
    min-height: 5rem;
    padding: 0.3rem 1.35rem;
}
.streak-score{
    background: black;
    color: white;
    font-weight: bold;
    font-size: 0.85rem;

    position: absolute;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    left: 3.25rem;

    z-index: 4;
}
.streak-fire{
    z-index: 5;
}

footer .opacity-75 a{
    color: black;
    text-decoration: none;
}


/*Color*/
.navbar-set,
.footer-set {
    background: #219EBC;
}